.depistage .depistage-img {
  margin-top: 2em;
}

@media (max-width: 270px) {
  .section-depistage {
    margin-top: 70px;
  }
}
@media (min-width: 271px) {
  .section-depistage {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .section-depistage {
    margin-top: 0px;
  }
}
