.org-name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #00aa01;
}
.menu-logo {
  display: "inline-block";
  margin: 0;
}
.nav-link {
  color: #00aa01 !important;
  font-weight: 500;
}
@media (max-width: 991px) {
  .org-name {
    font-size: 1.2em;
  }
  .menu-logo {
    width: 3.5em;
  }
}
@media (max-width: 891px) {
  .org-name {
    font-size: 1.2em;
  }
  .menu-logo {
    width: 3.3em;
  }
}
@media (max-width: 691px) {
  .org-name {
    font-size: 1.2em;
  }
  .menu-logo {
    width: 3.3em;
  }
}
@media (max-width: 491px) {
  .org-name {
    font-size: 1em;
  }
  .menu-logo {
    width: 3.2em;
  }
}
@media (max-width: 391px) {
  .org-name {
    font-size: 0.8em;
  }
  .menu-logo {
    width: 3em;
  }
}
@media (max-width: 300px) {
  .org-name {
    font-size: 0.75em;
  }
  .menu-logo {
    width: 3em;
  }
}
