/* @@@@@@@@@@@@@  Banner Section Start Here  @@@@@@@@@@@@@@ */

.btn.btn-success {
  background-color: #00aa01;
}
.carousel.slide {
  margin-top: 100px;
}

.banner.style-1 .banner-bottom {
  background: #ffffffa8;
  padding: 20px;
  max-width: 1170px;
  margin: 0 auto;
}
.banner.style-1 .banner-bottom .banner-bottom-pattan {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  bottom: 0;
}
.banner.style-1 .banner-bottom .bottom-wrapper {
  justify-content: space-between;
}

@media (max-width: 991px) {
  .banner {
    margin-top: 58px !important;
  }
}
.banner.style-1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
}
.banner.style-1 .banner-top {
  padding: 150px 0;
}
.banner.style-1 .banner-content-area .banner-content h1 {
  line-height: 1.2;
}
@media (max-width: 991px) {
  .banner-content h1 {
    font-size: 2em !important;
  }
}
@media (max-width: 891px) {
  .banner-content h1 {
    font-size: 1.5em !important;
  }
}
@media (max-width: 791px) {
  .banner-content h1 {
    font-size: 1.5em !important;
  }
}
@media (max-width: 991px) {
  .banner.style-1 .banner-content-area .banner-content h1 {
    font-size: 42px;
  }
}
.banner.style-1 .banner-content-area .banner-content .banner-btn {
  margin-top: 40px;
  position: relative;
}
.banner.style-1 .banner-content-area .banner-content .banner-btn .btn {
  background: #80bf63;
  color: #fff;
}
.banner.style-1 .banner-content-area .banner-content .banner-btn .video-btn {
  position: absolute;
  top: 0;
  right: 42%;
}
@media (max-width: 767px) {
  .banner.style-1 .banner-content-area .banner-content .banner-btn .video-btn {
    top: 100px;
    right: 50%;
    transform: translateX(50%);
  }
}
@media (max-width: 575px) {
  .banner.style-1 .banner-content-area .banner-content .banner-btn .video-btn {
    display: none;
  }
}
.banner.style-1
  .banner-content-area
  .banner-content
  .banner-btn
  .video-btn
  .video-icon {
  position: relative;
  outline: none;
  display: inline-block;
}
.banner.style-1
  .banner-content-area
  .banner-content
  .banner-btn
  .video-btn
  .video-icon
  img {
  display: block;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .banner.style-1 .banner-bottom .bottom-wrapper {
    justify-content: space-around;
  }
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item {
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .banner.style-1 .banner-bottom .bottom-wrapper .post-item {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .banner.style-1 .banner-bottom .bottom-wrapper .post-item {
    padding: 0;
  }
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item .post-thumb {
  padding-right: 15px;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item .post-content h6,
.banner.style-1 .banner-bottom .bottom-wrapper .post-item .post-content h5 {
  margin-bottom: 0;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item .post-content h6 {
  font-weight: normal;
  margin-bottom: 5px;
  font-family: "Libre Baskerville", serif;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item .post-content h5 {
  font-size: 18px;
  font-weight: 500;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item:nth-child(1) h5 {
  color: #82cf09;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item:nth-child(2) h5 {
  color: #6fbd35;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item:nth-child(3) h5 {
  color: #00baff;
}
.banner.style-1 .banner-bottom .bottom-wrapper .post-item:nth-child(4) h5 {
  color: #9160ff;
}
.banner.style-2 {
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 576px) {
  .banner.style-2 {
    background-position: center;
  }
}
@media (min-width: 1200px) {
  .banner.style-2 {
    padding-bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .banner.style-2 .banner-content-area::before {
    position: absolute;
    content: "";
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-top: 800px solid #fff;
    left: 50%;
    top: 0;
    margin-left: -670px;
    margin-top: -270px;
  }
}
.banner.style-2 .banner-content-area .banner-content {
  z-index: 9;
  margin-top: 20px;
}
@media (min-width: 576px) {
  .banner.style-2 .banner-content-area .banner-content {
    margin-top: 150px;
  }
}
.banner.style-2 .banner-content-area .banner-content h2 {
  font-size: 42px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .banner.style-2 .banner-content-area .banner-content h2 {
    font-size: 60px;
  }
}
.banner.style-2 .banner-content-area .banner-content h2 .primary-color {
  color: #44a6f1;
  display: block;
}
@media (min-width: 1200px) {
  .banner.style-2 .banner-content-area .banner-content h2 .primary-color {
    font-size: 72px;
  }
}
.banner.style-2 .banner-content-area .banner-content .banner-btn {
  display: inline-block;
  margin-left: 70px;
  margin-top: 80px;
}
@media (max-width: 575px) {
  .banner.style-2 .banner-content-area .banner-content .banner-btn {
    display: none;
  }
}
.banner.style-2 .banner-content-area .banner-content .banner-btn .video-btn {
  display: block;
}
.banner.style-2
  .banner-content-area
  .banner-content
  .banner-btn
  .video-btn
  .video-icon {
  display: block;
  outline: none;
}
.banner.style-2
  .banner-content-area
  .banner-content
  .banner-btn
  .video-btn
  .video-icon
  img {
  display: block;
}
.banner.style-2
  .banner-content-area
  .banner-content
  .banner-btn
  .video-content {
  left: calc(100% + 50px);
  width: 115px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .banner.style-2
    .banner-content-area
    .banner-content
    .banner-btn
    .video-content {
    display: none;
  }
}

.page-header {
  padding: 100px 0;
}
@media (max-width: 575px) {
  .page-header {
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .page-header {
    margin-top: 58px;
  }
}
@media (min-width: 992px) {
  .page-header {
    padding: 150px 0;
  }
}
@media (max-width: 575px) {
  .page-header .page-header-area {
    text-align: center;
  }
}
.page-header .breadcrumb {
  padding: 0;
}
@media (max-width: 575px) {
  .page-header .breadcrumb {
    justify-content: center;
  }
}
@media (min-width: 280px) {
  .banner {
    top: 1.95rem;
  }
  .banner-caption {
    display: none;
  }
  .banner-content h1 {
    font-size: 1em !important;
  }
  .banner-content.slogan {
    position: absolute;
    top: 6%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    left: 0;
    right: 0;
  }
  .carousel.slide {
    margin-top: 5.5em;
  }
  .carousel-indicators {
    bottom: -12px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
@media (min-width: 370px) {
  .banner-caption {
    display: block;
    font-size: 0.755em !important;
    margin-bottom: -28px;
  }
}
@media (min-width: 391px) {
  .banner-caption {
    font-size: 0.8em !important;
    margin-bottom: -25px;
  }
  .banner-content h1 {
    font-size: 1em !important;
  }
  .banner-content.slogan {
    position: absolute;
    top: 7%;
  }
}
@media (min-width: 451px) {
  .banner-content h1 {
    font-size: 1.3em !important;
  }
  .banner-caption {
    font-size: 0.92em !important;
  }
}
@media (min-width: 491px) {
  .banner-caption {
    display: block;
    font-size: 1em !important;
    margin-bottom: -28px;
  }
  .banner-content h1 {
    font-size: 1.4em !important;
  }
  .banner-content.slogan {
    position: absolute;
    top: 10%;
  }
}
@media (min-width: 576px) {
  .banner-content h1 {
    font-size: 1.6em !important;
  }
  .banner-content.slogan {
    top: 16%;
    width: 540px !important;
  }
}
@media (min-width: 591px) {
  .banner-caption {
    font-size: 1em !important;
    margin-bottom: -23px;
  }
  .banner-content h1 {
    font-size: 1.8em !important;
  }
  .banner-content.slogan {
    position: absolute;
    top: 17%;
  }
}
@media (min-width: 691px) {
  .banner-caption {
    font-size: 1.3em !important;
    margin-bottom: -23px;
  }
  .banner-content h1 {
    font-size: 2.2em !important;
  }
}
@media (min-width: 768px) {
  .banner-content.slogan {
    width: 720px !important;
  }
}
@media (min-width: 791px) {
  .banner-caption {
    font-size: 1.3em !important;
    margin-bottom: -22px;
  }
  .banner-content h1 {
    font-size: 2.8em !important;
  }
  .banner-content.slogan {
    top: 16%;
  }
}
@media (min-width: 891px) {
  .banner-caption {
    font-size: 1.5em !important;
    margin-bottom: -23px;
  }
  .banner-content h1 {
    font-size: 2.7em !important;
  }
  .banner-content.slogan {
    top: 10%;
  }
  .btn-sm {
    font-size: 1.2em;
    padding: 0.8rem 0.5rem;
    margin-top: 1.5em;
  }
}
@media (min-width: 992px) {
  .banner {
    top: 0.9rem;
  }
  .banner-caption {
    font-size: 2em !important;
    margin-bottom: 0px;
  }
  .banner-content h1 {
    font-size: 3.3em !important;
  }
  .carousel-indicators {
    bottom: -7px;
  }
  .banner-content.slogan {
    width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .banner-caption {
    font-size: 2.3em !important;
    margin-bottom: 30px;
  }
  .banner-content h1 {
    font-size: 4em !important;
  }
  .carousel-indicators {
    bottom: -7px;
  }
  .banner-content.slogan {
    width: 1200px !important;
  }
}
@media (max-width: 279px) {
  .banner {
    display: none;
  }
}
